node_modules
dist/
.env
data/
config/config.yaml
backend/data/
backend/public/
frontend/dist/
frontend/tsconfig.app.tsbuildinfo
importer/public/
*.log
.DS_Store
docker-compose.override.yml
data.backup-*/
dev/music/
dev/config/
importer/frontend/tsconfig.tsbuildinfo
